<section class="section-expertise">
	<div class="container p-5">

		<div class="expertise-title d-flex justify-content-center align-items-center flex-column p-5">
			<h3 class="text-uppercase">Expertise</h3>
			<h5 class="mb-5">Lorem ipsum dolor sit amet proin gravida nibh vel velit</h5>
		</div>

		<div class="row justify-content-center align-items-center">
			<div class="col-15">
				<div class="card-1 col-4 float-left card align-items-center p-4" style="width: 25rem; height: 15rem;">
				  <img src="assets/img/expertise/web-design.png" class="card-img-top col-md-2 p-0" alt="...">
				  <div class="card-body text-center">
				    <p class="card-title text-uppercase font-weight-bold mb-4">Web design & development</p>
				    <p class="card-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
				  </div>
				</div>

				<div class="card-2 col-4 float-left card align-items-center p-4" style="width: 25rem; height: 15rem;">
				  <img src="assets/img/expertise/branding.png" class="card-img-top col-md-2 p-1" alt="...">
				  <div class="card-body text-center">
				    <p class="card-title text-uppercase font-weight-bold mb-4">Branding identity</p>
				    <p class="card-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
				  </div>
				</div>

				<div class="card-3 col-4 float-left card align-items-center p-1" style="width: 25rem; height: 15rem;">
				  <img src="assets/img/expertise/mobile-app.png" class="card-img-top col-md-2 p-2" alt="...">
				  <div class="card-body text-center">
				    <p class="card-title text-uppercase font-weight-bold mb-4">Mobile app</p>
				    <p class="card-text">This is Photoshop's version  of Lorem<br> Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
				  </div>
				</div>

				<div class="card-4 col-4 float-left card align-items-center p-4" style="width: 25rem; height: 15rem;">
				  <img src="assets/img/expertise/search.png" class="card-img-top col-md-2 p-0 mb-2" alt="...">
				  <div class="card-body text-center">
				    <p class="card-title text-uppercase font-weight-bold mb-4">Search engine optimization</p>
				    <p class="card-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
				  </div>
				</div>

				<div class="card-5 col-4 float-left card align-items-center p-4" style="width: 25rem; height: 15rem;">
				  <img src="assets/img/expertise/game-development.png" class="card-img-top col-md-2 p-1" alt="...">
				  <div class="card-body text-center">
				    <p class="card-title text-uppercase font-weight-bold mb-4">Game development</p>
				    <p class="card-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
				  </div>
				</div>

				<div class="card-6 col-4 float-left card align-items-center p-4" style="width: 25rem; height: 15rem;">
				  <img src="assets/img/expertise/hearth.png" class="card-img-top col-md-2 p-0" alt="...">
				  <div class="card-body text-center">
				    <p class="card-title text-uppercase font-weight-bold mb-4 mt-2">Made with love</p>
				    <p class="card-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>