<section class="section-goodnews p-5">
	<div class="container">
		<div class="d-flex justify-content-between">
			
			<div class="right-div">
				<h4 class="text-uppercase">Give us a good news</h4>

				<form>
				  <div class="form-group py-2">
				    <input type="name" size="50" class="form-control" id="exampleFormControlInput1" placeholder="Name">
				  </div>
				  <div class="form-group py-2">
				    <input type="email" size="50" class="form-control" id="exampleFormControlInput1" placeholder="Email">
				  </div>
				  <div class="form-group py-2">
				    <input type="subject" size="50" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
				  </div>
				  <div class="form-group py-2">
				    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Your Massage"></textarea>
				  </div>

				  <button type="button" class="btn btn-outline-success font-weight-bold px-4 py-2 text-uppercase ">Submit</button>
				</form>
			</div>


			<div class="left-div">
				<h4 class="text-uppercase px-3">Our happy client</h4>

				<div class="row justify-content-center">
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body text-center">
				        <img src="assets/img/clients/zara.png" class="card-img-top" alt="..." style="width: 162px;"><br>
				        <img src="assets/img/clients/barneys.png" class="card-img-top mt-5" alt="..." style="width: 154px;"><br>
				        <img src="assets/img/clients/calvin-klein.png" class="card-img-top mt-5" alt="..." style="width: 151px;"><br>
				        <img src="assets/img/clients/converse.png" class="card-img-top mt-5" alt="..." style="width: 113px;"><br>
				        <img src="assets/img/clients/levis.png" class="card-img-top mt-5" alt="..." style="width: 109px;">
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body text-center">
				        <img src="assets/img/clients/mango.png" class="card-img-top" alt="..." style="width: 138px;"><br>
				        <img src="assets/img/clients/gucci.png" class="card-img-top mt-5" alt="..." style="width: 140px;"><br>
				        <img src="assets/img/clients/nike.png" class="card-img-top mt-5" alt="..." style="width: 95px;"><br>
				        <img src="assets/img/clients/puma.png" class="card-img-top mt-5" alt="..." style="width: 114px;"><br>
				        <img src="assets/img/clients/billabong.png" class="card-img-top mt-5" alt="..." style="width: 130px;">
				      </div>
				    </div>
				  </div>
				</div>
			</div>

		</div>
	</div>
</section>