<section class="jane-galadriel">
    <div class="container  d-flex justify-content-center align-items-center jane-carusel">

        <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel" style="height: 75%;" data-ride="carousel">
                <ol class="carousel-indicators">
        
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>     
        
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center flex-column ">
                        <h1 class=" text-center text-white font-weight-bold">“</h1>
                        <p class=" text-center text-white">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br> lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh<br> vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a<br> ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                        <h5 class="font-weight-bold text-white pt-4">JANE GALADRIEL</h5>
                        <p class="text-white mb-0">CEO TENGKUREP</p>
                    </div>  
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center align-items-center flex-column ">
                        <h1 class=" text-center text-white font-weight-bold">“</h1>
                        <p class=" text-center text-white">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br> lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh<br> vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a<br> ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                        <h5 class="font-weight-bold text-white pt-4">JANE GALADRIEL</h5>
                        <p class="text-white">CEO TENGKUREP</p>
                    </div>  
                </div>
                <div class="carousel-item">
                        <div class="d-flex justify-content-center align-items-center flex-column ">
                            <h1 class=" text-center text-white font-weight-bold">“</h1>
                            <p class=" text-center text-white">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br> lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh<br> vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a<br> ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                            <h5 class="font-weight-bold text-white pt-4">JANE GALADRIEL</h5>
                            <p class="text-white">CEO TENGKUREP</p>
                        </div>  
                    </div>
            </div>

                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
    </div>
</section>