<section class="section-ourstory py-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card mb-3 border-0">
					  <div class="row no-gutters justify-content-around align-items-center">
					  	<div class="col-md-4 p-5">
					      <img src="assets/img/ourstory.png" class="img-ourstory card-img fluid-img" alt="Our Story">
					    </div>
					    <div class="col-md-8 px-5">
					      <div class="card-body">
					        <h5 class="h5 card-title font-weight-bold text-uppercase mb-5">Our story</h5>
					        <p class="card-text mb-4">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus</p>

							<p class="mb-5">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
					        <p><button type="button" class="btn btn-outline-success font-weight-bold px-3 py-2 text-uppercase">Learn more</button></p>
					      </div>
					    </div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</section>