.our-works {
    .our-works-top{
        .text-center {
            color: #413d4b;
        }
    }
    
    .our-works-img {
        height: 200px;
        border: 1px solid black;
        background: rgb(102, 99, 99);
    }
}