.section-story {
	position: relative;

	height: 480px;

	background-image: url("../img/watch-our-story.jpg");
	background-clip: padding-box;
    background-origin: border-box;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
    	position: absolute;
    	background: #302256;
    	content: "";
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	opacity: .8;
    	z-index: 0;

    }
}

