<header>
    <div class="container">
        <div class="row">
            <div class="col-2 header-logo mt-3 ml-5">
                <img src="assets/img/header/logo.png" alt="">
            </div>
            <div class="col-9 mt-4">

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EXPERTISE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TEAMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WORKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PEOPLE SAY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" col-12 row justify-content-center align-items-center">
        <h2 class="">We Are Awesome Creative Agency</h2>
    </div>
</header>